{% extends 'imagier/base.html' %}
{% load static %}

{% block content %}
<!-- Masthead -->
<header id="mainpart" class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Mentions légales</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <ul class="terms-box">
          <li class="format-terms checkbox-font">Hébergeur : <a href="https://www.heroku.com/home">Heroku</a></li>
          <li class="format-terms checkbox-font">Icones : <a href="https://fontawesome.com/">Fontawesome</a></li>
          <li class="format-terms checkbox-font">Template : <a href="https://blackrockdigital.github.io/startbootstrap-creative/">StartBootstrap Creative</a></li>
          <li class="format-terms checkbox-font">Site réalisé par Nicolas ZEISSER : <a href="https://www.linkedin.com/in/nicolas-zeisser-0a4b2511a/">LinkedIn</a></li>
          <li class="format-terms checkbox-font">Parcours développeur Python : <a href="https://openclassrooms.com/fr/paths/68-developpeur-dapplication-python">OpenClassrooms</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

{% endblock %}