.brown-bg {
	background-color: #E6E2AF;
}

.red-bg {
	background-color: #CC0000;
}

.board-bg {
	background: linear-gradient(to bottom, rgba(30, 10, 0, 0.8) 0%, rgba(30, 10, 0, 0.8) 100%), url("../img/backgrounds/board_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.cat-item-box {
  height: 10em;
  min-width: 17em;
  padding: 0.8em;
}

.cat-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color:  #f4623a;
  border-radius: 30px;
  box-shadow: 5px 5px 10px black;
}

.bg-white {
	background-color:  #ffffff;
}

.submit-btn {
	height: 100%;
	border-radius: 30px;
}

.item-btn {
  width: 100%;
  font-weight: 700;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 0.3rem 2rem;
  font-size: 0.9rem;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.hidden-field {
    display: none;
}

.form-ul {
  width: 20em;
  font-weight: 700;
  border: none;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2rem;
  font-size: 1rem;
  vertical-align: middle;
  border-radius: 0px;
}

.cap-text{
	text-transform: capitalize;
}

#imagier .container-fluid {
  max-width: 1920px;
}

#imagier .imagier-box {
	background-color: #fff;
	width: 100%;
	height: 20em;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#imagier .item-pict {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin-right: auto;
    margin-left: auto;
}

#imagier .imagier-box .imagier-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(244, 98, 58, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}

#imagier .container-fluid .imagier-box .imagier-box-caption .item-name {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#imagier .container-fluid .imagier-box:hover .imagier-box-caption {
  opacity: 1;
}

#imagier .del-pict {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 6px;
	padding-right: 10px
}

a.del-pict-color {
  color: #fff;
  opacity: 0.8;
  font-size: 1.2em;
  background-color: transparent;
}

a.del-pict-color:hover {
  color: #fff;
  opacity: 1;
  font-size: 1.4em;
  transition: font-size 0.25s ease;
  text-decoration: underline;
}

.btn-green {
  color: #fff;
  background-color: #0C8F04;
  border-color: #0C8F04;
}

.btn-green:hover {
  color: #fff;
  background-color: #066B00;
  border-color: #066B00;
}

@media (min-width: 992px) {
  .scr-size-100 {
    height: 100vh;
    min-height: 40rem;
    padding-top: 100px;
    padding-bottom: 0;
  }

  .scr-size-75 {
    height: 75vh;
    min-height: 32rem;
    padding-top: 100px;
    padding-bottom: 0;
  }

  .scr-size-25 {
    height: 25vh;
    min-height: 8rem;
    padding-top: 90px;
    padding-bottom: 0;
  }
